# Binaries, plugins, libs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output directories
/dist
/build
/cmd

# IDEs and editors
/.idea
*.swo
*.swp
*.swn
*.swm
*.ter
*.bak
*.orig
*.pyc
*.class

# OS-specific files
.DS_Store
Thumbs.db

/backend/app.env
