# Binaries, plugins, libs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output directories
/dist
/build
/cmd

# IDEs and editors
/.idea
*.swo
*.swp
*.swn
*.swm
*.ter
*.bak
*.orig
*.pyc
*.class

# OS-specific files
.DS_Store
Thumbs.db

/backend/app.env
backend/app-env-configmap.yaml
backend/pgadmin-deployment.yaml
backend/pgadmin-service.yaml
backend/postgres-deployment.yaml
backend/postgres-db-persistentvolumeclaim.yaml
backend/postgres-service.yaml
backend/redis-db-persistentvolumeclaim.yaml
backend/redis-deployment.yaml
backend/redis-service.yaml
